/* src/Styles/Footer.css */
.footer-container {
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 1.5rem 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.socials {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.socials a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  padding: 2px;
  transition: box-shadow 0.6s ease,
              transform 0.6s ease;
}

.socials a:hover{
  box-shadow: 1px 1px 10px  5px;
}

.socials a:active{
  transform: scale(1.2);
}

.socials img{
  width: 25px;
  height: auto;
}

@media (max-width: 768px) {
  .socials {
    flex-direction: row;
    gap: 0.8rem;
  }

  .socials img{
  width: 25px;
  height: auto;
}

.socials a {
  font-weight: 400;
}
}
