/* ol{
    list-style: none;
}
 */
.navbar-container{
    display: flex;
    top: 0px;
    gap: 2%;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.options-container{
    display: flex;
    gap: 2%;   
    top: 0px;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-size: border-box;
}

.nav a{
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}
