
/* src/styles/HeroSection.css */

/* styling the entire hero section */
.hero-section {
  text-align: center;
  padding: 100px 0px;
  background-color: #f4f4fc;
  animation: fadeIn 0.6s ease-in;
}

.bye-emoji {
  font-size: 50px;
  transition: transform 0.3s;
}

.bye-emoji:hover {
  transform: scale(1.2) rotate(10deg);
  cursor: pointer;
}

.name {
  font-size: 3rem;
  color: #1a1a1a;;
  font-weight: 900;
  margin-top: 10px;
  font-family: Anton;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: zoomIn 2s;
}

@keyframes zoomIn {
  0% {
    transform: scale(0); opacity: 0;
  }
  100%{
    transform: scale(1); opacity: 1;
  }   
}

.hero-subtitle {
  font-size: 2rem;
  color: #555;
  margin: 20px auto;
  max-width: 800px;
  font-family: Lato;
}

.scroll-down {
  margin-top: 50px;
  font-size: 2rem;
  color: #bbb;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.4rem;
  }

}
