
/* src/styles/HeroSection.css */

/* styling the entire hero section */
.hero-section {
  text-align: center;
  padding: 100px 0px;
  background-color: #f4f4fc;
  animation: fadeIn 0.6s ease-in;
}

.bye-emoji {
  font-size: 50px;
  transition: transform 0.3s;
}

.bye-emoji:hover {
  transform: scale(1.2) rotate(10deg);
}

.name {
  font-size: 3rem;
  color: #1a1a1a;;
  margin-bottom: 0;
  font-family: Bebas Neue;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.name {
  font-size: 3rem;
  color: #1a1a1a;;
  font-weight: 900;
  margin-top: 10px;
  font-family: Anton;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 2rem;
  color: #555;
  margin: 20px auto;
  max-width: 800px;
  font-family: Lato;
}

/* .hero-buttons {
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #4169e1;
  color: #fff;
  border: none;
}

.primary-btn:hover {
  background-color: #2748b0;
}

.secondary-btn {
  background-color: #e6e6e6;
  color: #333;
  border: 1px solid #ccc;
}

.secondary-btn:hover {
  background-color: #d4d4d4;
} */

.scroll-down {
  margin-top: 50px;
  font-size: 2rem;
  color: #bbb;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 2rem;
  }

  .name {
    font-size: 2.4rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .btn {
    margin-top: 10px;
    display: inline-block;
  }
}
