/* src/Styles/Navbar.css */

/* styling of the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #333;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  /* color: #f9f9f9; */
}

/* styling the logos, that's the M I T C H */
.logo img {
  width: 25px;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

/* styling the logos upon hover */
.logo img:hover {
  transform: scale(1.2) rotate(4deg);
}


/* Nav links container */
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 30px;
  font-size: 1.1rem;
  color: #333;
  transition: opacity 0.4s ease;
  font-family: Montserrat;
  letter-spacing: 2px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  background-color: #f4f4fc;
  text-decoration: none;
}

.nav-links a:hover {
  opacity: 0.5;
}

.nav-links a:active {
  opacity: 0.1;
}

.nav-link.active {
  border-bottom: 5px solid grey;
  color: grey;
}

/* this is the hamburger icon clickable*/
.hamburger {
  display: none;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  transition: opacity 0.7s;
}

.hamburger:hover{
    opacity: 0.5;
}

.hamburger:active{
  opacity: 0.2;
}

.bar {
  width: 15px;
  height: 3px;
  background-color: #f9f9f9;
  transition: 0.7s ease;
}

/* Rotate effect when open */
.bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}


/* Media Query: Mobile Screens */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 5%;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(51, 51, 51, 0.2); /* semi-transparent */
    animation: fadeIn 0.6s ease;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    letter-spacing: 0px;
    font-size: 1rem;
  }
  
 .logo img {
    width: 20px;
  }
}
