/* src/styles/Navbar.css */

/* styling for the whole navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #333;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #f9f9f9;
}

/* styling for the logo */
.logo a {
  font-weight: bold;
  font-size: 1.4rem;
  color:#f9f9f9;
  font-family: Playfair DisplayItaliana;
}

/* styling for the nav-links */
.nav-links a {
  margin-left: 30px;
  font-size: 1.1rem;
  color: #333;
  transition: opacity 0.4s ease;
  font-family: Montserrat;
  letter-spacing: 2px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  background-color: #f4f4fc
}

/* styling for hovering on navbar items */
.nav-links a:hover {
  opacity: 0.5;
  /* transform: rotateX(180deg); */
}

/* styling for when the navbar nav-links are clicked */
.nav-links a:active {
  opacity: 0.1;
}

.nav-link.active {
  border-bottom: 2px solid #00bcd4;
  color: #00bcd4;
}
/* styling for small screens enhancing responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-links a {
    margin: 10px 0;
  }
}

